@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;800&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
h1 {
  font-weight: 800;
  font-size: 40px;
  margin: 0;
}
h2 {
  font-weight: 500;
}
h3,
h4,
h5,
h6 {
  font-weight: 300;
}
p {
  font-weight: 300;
}
a {
  text-decoration: none;
}

.btn {
  background-image: linear-gradient(to right, orange, tomato);
  padding: 10px 40px;
  color: #fff;
  border-radius: 5px;
  text-transform: uppercase;
}

.top_bar {
  background-image: url(img/top-banner.png);
  background-repeat: no-repeat;
  margin-bottom: 50px;
}

.dream_area {
  background-image: url(img/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.site_title {
  color: orange;
}
.site_title h2 {
  color: orange;
}
.half-width {
  margin-top: 20px;
}
.half-width {
  width: 50%;
  padding-left: 10%;
}
.half-width img {
  width: 65%;
}
.flexable {
  display: flex;
}
.experince {
  background-image: url(img/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
  margin-top: 50px;
  margin-bottom: 100px;
}
.box-view {
  box-shadow: 10px 10px 30px gray;
  width: 40%;
  margin: 50px 70px;
  padding: 20px;
  border-radius: 10px;
}
#full-stack {
  border-image: linear-gradient(green, red);
  border-image-slice: 1;
  border-left: 7px solid;
  border-radius: 10px;
}
#baby_web {
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
  border-left: 7px solid;
  border-radius: 10px;
}
.footer {
  text-align: center;
}
